<h2>Contacts</h2>
<p><a href="#/contact" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;New Contact</a></p>
<ul class="breadcrumb">
  <li><a href="#/">Publishing</a></li>
  <li class="active">Contacts</li>
</ul>
<div id="alert_{{$index}}" class="alert fade in alert-{{alert.type}}" ng-repeat="alert in alertService.alerts" ><button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertService.removeAlert(alert)">&times;</button>{{alert.msg}}</div>

<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>Name</th>
<!-- 			<th>Email</th>
			<th>Url</th> -->
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts">
			<td>{{contact.name}}</td>
			<!--<td>{{contact.email}}</td>
			<td>{{contact.url}}</td>-->
			<td>
				<a href="#/contact/{{contact.contactId}}" class="btn btn-primary btn-sm">Edit</a>
                <button ng-click="confirmDelete(contact)" class="btn btn-danger btn-sm">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="deleteContactDialog" tabindex="-1" role="dialog" aria-labelledby="deleteContactLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="deleteContactLabel">Confirm Contact Deletion</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete the contact "{{contactToDelete.name}}"?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-success" ng-click="deleteContact()">Yes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->