.gallery {
  margin-top:15px;
  background:#ffffff;
  ul {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
  }
  li {
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 6px;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}