
.taskmeta {
  display: inline-block;
  margin-left: 15px;

  .task-icon {
    display: inline;
    img {
      vertical-align: top;
      max-height: 64px;
      margin-top: 11px;
    }
  }

  .taskmeta-table {
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    display: inline-block;
    .small;
    tbody tr td {
      padding:0px;
      img {
        width: 24px;
        height: 24px;
        margin: 3px;
      }
    }
    tbody tr td:first-child {
      width:1%;
      white-space:nowrap;
      text-align:right;
    }
    tbody tr td:last-child {
      width:99%;
      padding-left:20px;
    }

  }



  .taskmeta-table td:last-child {
    width:50%;
    white-space: normal;
    .text-left;

  }

}