.sidebar-container-pub {
	background: #ebebeb;
	
	a {
		color: #000;
		border: solid 1px #ccc;
		font-size: 1.3em;
		padding: 20px;
		list-style-type: none;
		display: block;
		
		@media (max-width: @screen-xs-max) {
			padding: 8px;
		}
		
		&:focus {
			text-decoration: none;
		}
		
		&.active  {
			background: #fff;
			border: solid 1px #fff;
		}
		
		&.inactive {
			background: #eee;
			border: solid 1px #ccc;
		}
		
		&.inactive + a {
			border-top: none;
		}
		
		span {
			display: block;
			font-size: 12px;
			font-style: italic;
		}
	}
}