.table tbody tr:first-child th {
	border-top:none;
	background-color: #eeeeee;
}

.table tbody+tbody:before {
	content: '';
	display: block;
	height: 40px;
}

.table tbody tr td.forcewrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}