.tcptdp-header {
  border-bottom: solid 1px #cccccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
  .media-left {
    img {
      height: 72px;
      width: 72px;
    }
    .collage {
      height: 72px;
      width: 72px;
      overflow: hidden;
      position: relative;
      border-right: solid 1px #cccccc;
      background-image: url("../img/9grid-72x72.png");

      img {
        display: inline-block;
        height: 24px;
        width: 24px;
        //border: 1px solid #000000;
        margin: -1px 0 0 -1px;
        position: absolute;

        &:first-child {
          top: 1px;
          left: 1px;
          height: 25px;
          width: 25px;
        }
        &:nth-child(2) {
          top: 1px;
          left: 25px;
          height: 25px;
          width: 24px;
        }
        &:nth-child(3) {
          top: 1px;
          left: 48px;
          height: 25px;
          width: 25px;
        }
        &:nth-child(4) {
          top: 25px;
          left: 1px;
          height: 24px;
          width: 25px;
        }
        &:nth-child(5) {
          top: 25px;
          left: 25px;
          height: 24px;
          width: 24px;
        }
        &:nth-child(6) {
          top: 25px;
          left: 48px;
          height: 24px;
          width: 25px;
        }
        &:nth-child(7) {
          top: 48px;
          left: 1px;
          height: 25px;
          width: 25px;
        }
        &:nth-child(8) {
          top: 48px;
          left: 25px;
          height: 25px;
          width: 24px;
        }
        &:nth-child(9) {
          top: 48px;
          left: 48px;
          height: 25px;
          width: 25px;
        }

      }
    }
  }
  .media-body {
    padding-left: 10px;
    .media-heading {
      margin-bottom: 0px;
      margin-top: 0;
      padding-right: 95px;
    }
    .media-heading-secondary {
      color: #666666;
      font-size: 14px;
      line-height: 1.2;
      padding-bottom: 0px;
      padding-top: 0px;
      .application {
        color: #000000;
        font-style: italic;
      }
    }
    .controls {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .ratings {
      i {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: @screen-md-min) {
  .tcptdp-header {
    padding-bottom: 5px;
    .media-body {
      padding-left: 0px;
      h2 {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    .tdp-header-controls {
      .text-left;
      padding-top: 10px;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .tcptdp-header {
    padding-bottom: 10px;
    .media-body {
      .controls {
        position: inherit;
        top: 0px;
        right: 0px;
        padding-top: 10px;
      }
      .media-heading {
        font-size: 24px;
        padding-right: 0px;
      }
    }
  }
}
