<h2>Comment Details</h2>

<ul ng-if="previousPage == 'taskList' && originPage != 'false'" class="breadcrumb">
  	<li><a href="#/">Publishing</a></li>
  	<li><a href="#/tasks">Tasks</a></li>
  	<li><a ng-href="#/comment/{{task.uid}}/{{previousPage}}">Versions</a></li>
  	<li><a ng-href="#/commentsForTaskVersion/{{task.taskId}}/{{previousPage}}/{{task.uid}}">{{task.title}} </a></li>
  	<li class="active">Comment Details</li>
 </ul>

<ul ng-if="previousPage == 'recentComments' && originPage != 'false'" class="breadcrumb">
  	<li><a href="#/">Publishing</a></li>
  	<li><a href="#/recentComments">Recent Comments</a></li>
	<li><a ng-href="#/comment/{{task.uid}}/{{previousPage}}">Versions</a></li>
  	<li><a ng-href="#/commentsForTaskVersion/{{task.taskId}}/{{previousPage}}/{{task.uid}}">{{task.title}} </a></li>
  	<li class="active">Comment Details</li>
</ul>

<ul ng-if="originPage == 'false'" class="breadcrumb">
	<li><a href="#/publish">Publishing</a></li>
	<li><a href="#/recentComments">Recent Comments</a></li>
	<li class="active">Comment Details</li>
</ul>

<div id="alert_{{$index}}" class="alert fade in alert-{{alert.type}}" ng-repeat="alert in alertService.alerts" ><button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertService.removeAlert(alert)">&times;</button>{{alert.msg}}</div>

<div class="row form-group">
	<div class="col-sm-10">
		<div class="well">
			<p>
				<strong>{{pageData.userName}} ({{comment.userAlias}})</strong>&nbsp;&nbsp;|&nbsp;&nbsp;{{comment.postDate | date:'MMM d, y h:mm a'}}&nbsp;&nbsp;|&nbsp;&nbsp;
				<span style="white-space: nowrap;">
					<i role="presentation" ng-repeat="n in [] | range:1:(comment.rating)" class="glyphicon glyphicon-star"></i><i ng-repeat="n in [] | range:1:(5-comment.rating)" class="glyphicon glyphicon-star star-grey" role="presentation"></i>
				</span>
			</p>
			<p style="white-space: pre-line; word-wrap: break-word;">{{comment.comment}}</p>
			<em class="text-muted"><span ng-bind="pageData.upVotes"></span> of <span ng-bind="pageData.upVotes + pageData.downVotes"></span> people found this helpful</em>
		</div>
	</div>
	<div class="col-sm-2">
		<strong>Status</strong>
		<p>{{comment.status == 'A' ? 'Active' : 'Inactive'}}</p>
		<span ng-show="task.versionStatus == 'C'">
			<button type="button" class="btn btn-success btn-sm" ng-show="comment.status == 'I'" ng-click="confirmActivate(comment)">Activate</button>
			<button type="button" class="btn btn-warning btn-sm" ng-show="comment.status == 'A'" ng-click="confirmDeactivate(comment)">Deactivate</button>
		</span>
	</div>
</div>



<h3>Response<span ng-if="comment.commentReplies.length > 1">s</span></h3>
<button class="btn btn-primary btn-sm" ng-if="task.versionStatus == 'C' && comment.status == 'A'" ng-click="replyToComment()">{{comment.commentReplies.length > 0 ? 'Edit Response' : 'Respond'}}</button>
<table class="table table-striped" ng-if="comment.commentReplies.length > 0">
	<thead>
		<tr>
			<th>Posted By</th>
			<th>Post Date</th>
			<th>Status</th>
			<th>Publisher Alias</th>
			<th>Response Text</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="reply in comment.commentReplies">
			<td>{{reply.user.userName}}</td>
			<td>{{reply.postDate | date:'MMMM d, y h:mm a'}}</td>
			<td>{{reply.status == 'A' ? 'Active' : (reply.status == 'I' ? 'Inactive' : 'Needs Review')}}</td>
			<td>{{reply.publisherAlias}}</td>
			<td><span data-toggle="popover" data-trigger="hover" title="Full Response" data-content="{{reply.text}}" ng-bind-html="reply.text | truncate:100"></span></td>
			<td>
				<button class="btn btn-danger btn-sm" ng-if="reply.status != 'I'" ng-click="deleteReply(reply)">Deactivate</button>
			</td>
		</tr>
	</tbody>
</table>


<h3>Task Details</h3>
<div class="row">
	<div class="col-sm-4">
		<strong>Task (Application)</strong>
		<p>{{task.title}}<span ng-show="task.applicationName"> ({{task.applicationName}})</span></p>
	</div>
	<div class="col-sm-4">
		<strong>Task Version</strong>
		<p>{{task.displayVersion}}</p>
	</div>
	<div class="col-sm-4">
		<strong>{{marketsTitle}}</strong>
		<div ng-if="task.markets.length == 0">All {{marketsTitle}}</div>
		<div ng-repeat="market in task.markets">
			<p>{{market.name}}</p>
		</div>
	</div>
</div>

<div class="modal fade" id="activateCommentDialog" tabindex="-1" role="dialog" aria-labelledby="activateCommentLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="activateCommentLabel">Confirm Comment Activation</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to activate this comment?</p>
				<p><strong>{{commentForChangeStatus.userName}}</strong></p>
				<p>{{commentForChangeStatus.comment}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-danger" ng-click="activateComment()">Yes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deactivateCommentDialog" tabindex="-1" role="dialog" aria-labelledby="deactivateCommentLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="deactivateCommentLabel">Confirm Comment Deactivation</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to deactivate this comment?</p>
				<p><strong>{{commentForChangeStatus.userName}}</strong></p>
				<p>{{commentForChangeStatus.comment}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-danger" ng-click="deactivateComment()">Yes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div comment-reply-dialog="commentReply" comment="comment" success-callback="replySuccessCallback()"></div>