<h2>Feedback</h2>
<ul class="breadcrumb">
    <li><a href="#/">Publishing</a></li>
    <li><a href="#/feedback">Feedback</a></li>
    <li class="active">View Feedback</li>
</ul>
<div id="alert_{{$index}}" class="alert fade in alert-{{alert.type}}" ng-repeat="alert in alertService.alerts" ><button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertService.removeAlert(alert)">&times;</button>{{alert.msg}}</div>

<dl class="dl-horizontal" ng-if="feedback != null">
	<dt ng-show="feedback.user">User</dt>
	<dd ng-show="feedback.user">{{feedback.user.userName}}</dd>
	<dt>Post Date</dt>
	<dd>{{feedback.postDate | date:'medium'}}</dd>
	<dt>Type</dt>
	<dd>{{pageData.types[feedback.type]}}</dd>
	<dt>Status</dt>
	<dd>{{pageData.statuses[feedback.status]}}</dd>
	<dt>Comment</dt>
	<dd>{{feedback.comment}}</dd>
	<dt ng-show="feedback.replyEmail">Reply to</dt>
	<dd ng-show="feedback.replyEmail"><a href="{{getRespondLink(feedback.replyEmail)}}">{{feedback.replyEmail}}</a></dd>
	<dt ng-show="feedback.user.email">User Email</dt>
	<dd ng-show="feedback.user.email"><a href="{{getRespondLink(feedback.user.email)}}">{{feedback.user.email}}</a></dd>
</dl>

<button class="btn btn-success btn-sm" ng-click="resolveFeedback()" ng-show="feedback.status != 'R'">Resolve</button>
<button class="btn btn-danger btn-sm" ng-click="confirmDeleteFeedback()">Delete</button>

<div class="modal fade" id="deleteFeedbackDialog" tabindex="-1" role="dialog" aria-labelledby="deleteFeedbackLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="deleteFeedbackLabel">Confirm Feedback Deletion</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this feedback?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-danger" ng-click="deleteFeedback()">Yes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->