<h2>System Parameters</h2>
<ul class="breadcrumb">
  <li><a href="#/">Administration</a></li>
  <li class="active">System Parameters</li>
</ul>
<div id="alert_{{$index}}" class="alert fade in alert-{{alert.type}}" ng-repeat="alert in alertService.alerts" ><button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertService.removeAlert(alert)">&times;</button>{{alert.msg}}</div>
<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>Name</th>
            <th>Description</th>
			<th>Value</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="systemParameter in systemParameters">
			<td>{{systemParameter.name}}</td>
            <td ng-bind-html="systemParameter.directions|truncate:50"></td>
			<td ng-bind-html="systemParameter.value|truncate:50"></td>
			<td>
				<a href="#/systemParameter/{{systemParameter.name}}" class="btn btn-primary btn-sm">Edit</a>
			</td>
		</tr>
	</tbody>
</table>